<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">

<div class="jumbotron w-75" style="margin: auto">
    <h1 class="display-4">Welcome, <%- name %>!</h1>
    <p class="lead">This is your dashboard. Here you can take a look at your schedules!</p>
    <hr class="my-4">
    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
    <a class="btn btn-primary btn-sm" href="#" role="button">Profile</a>
    <a class="btn btn-primary btn-sm" href="/friends" role="button">Friends</a>
    <a class="btn btn-danger btn-sm" href="/logout" role="button">Logout</a>
</div>

<hr class="mt-5" width="90%">
<section class="container schedules-container">

    <%- include ("./partials/messages") %>

    <h1 class="mt-5 text-center">Schedules</h1>

    <div class="mt-3 text-center">
        <a class="btn btn-success" href='/schedule/create'>+</a>
    </div>
    
    <script>

        function progressBar(schedule, container) {

            var schedule = JSON.parse(schedule)
            var bounds = schedule[0]
            var meetings = schedule[1]

            // var lengths = [bound2first, firstMeeting, first2second, secondMeeting, second2third, thirdMeeting, last2bound]
            var lengths = []
            var percentages = []

            lengths.push(diffBetweenTimes(bounds[0], meetings[0][0]))

            meetings.forEach((meeting, index) => {

                lengths.push(diffBetweenTimes(meeting[0], meeting[1]))

                if (index === meetings.length - 1) {
                    return;
                }

                lengths.push(diffBetweenTimes(meeting[1], meetings[index + 1][0]))
                
            });

            lengths.push(diffBetweenTimes(bounds[1], meetings[meetings.length - 1][1]))

            var totalTime = 1440
            lengths.forEach(length => {
                percentages.push(((length / totalTime) * 100))
            });

            var div = $('<div>', {class: 'progress w-100'}).css('margin', 'auto')

            var startToBound = (diffBetweenTimes(bounds[0], '00:00') / totalTime) * 100
            div.append(`<div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: ${startToBound}%"></div>`)
            
            percentages.forEach((per, index) => {
                
                if (index % 2 === 0) {

                    if (index === 0) {

                        var meetingEnd = bounds[0];
                        var next_meetingStart = meetings[0][0]

                    } else if (index < percentages.length - 1) {

                        var meetingEnd = meetings[index / 2 - 1][1];
                        var next_meetingStart = meetings[index / 2][0];

                    } else if (index === percentages.length - 1) {

                        var meetingEnd = meetings[index / 2 - 1][1];
                        var next_meetingStart = bounds[1];

                    }

                    var text = meetingEnd + ' - ' + next_meetingStart;
                    div.append(`<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: ${per}%" data-toggle="tooltip" title="${text}" aria-valuemin="0" aria-valuemax="100"></div>`)
                } else {
                    var text = meetings[Math.floor(index / 2)][0] + ' - ' + meetings[Math.floor(index / 2)][1]
                    var altColor = (index % 4 === 1) ? 'bg-danger' : 'progress-bar-orange'
                    div.append(`<div class="progress-bar progress-bar-striped ${altColor}" role="progressbar" style="width: ${per}%" data-toggle="tooltip" title="${text}" aria-valuemin="0" aria-valuemax="100"></div>`)
                }
                
            })

            var boundToEnd = (diffBetweenTimes(bounds[1], '24:00') / totalTime) * 100
            div.append(`<div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: ${boundToEnd}%"></div>`)
            
            var timestamp = $(`<div class="row justify-content-between text-center">
                                <div class="col">0</div>
                                <div class="col">2</div>
                                <div class="col">4</div>
                                <div class="col">6</div>
                                <div class="col">8</div>
                                <div class="col">10</div>
                                <div class="col">12</div>
                                <div class="col">14</div>
                                <div class="col">16</div>
                                <div class="col">18</div>
                                <div class="col">20</div>
                                <div class="col">22</div>
                                <div class="col">24</div>
                            </div>`)
            $(container).html(timestamp.add(div))
            $('[data-toggle="tooltip"]').tooltip(); 

        }

        function compareTimes(t1, t2) {

            // Split the hour and the minute
            var [h1, m1] = t1.split(':');
            var [h2, m2] = t2.split(':');

            // Determine the total number of minutes
            // To make performing calculations easy
            t1 = parseInt(h1) * 60 + parseInt(m1);
            t2 = parseInt(h2) * 60 + parseInt(m2);

            if (t1 < t2) {
                return - 1;
            } else if (t1 > t2) {
                return 1;            
            } else {
                return 0;
            }
        }

        function diffBetweenTimes(t1, t2) {

            // Split the hour and the minute
            var [h1, m1] = t1.split(':');
            var [h2, m2] = t2.split(':');

            // Determine the total number of minutes
            // To make performing calculations easy
            t1 = parseInt(h1) * 60 + parseInt(m1);
            t2 = parseInt(h2) * 60 + parseInt(m2);

            return Math.abs(t1 - t2);

        }

    </script>

    <div class="container mt-5">
        <% if (schedules) { %>
        <% schedules.forEach((schedule, index) => { %>
            <div class="jumbotron mt-5 schedule-<%= index %>-container">
                <h4>Schedule #<%= index + 1 %></h4>
                <div class="pt-3 pb-3 pl-4 pr-4 mb-3 rounded bg-custom-container schedule-<%= index %>"></div>
                <a class="btn btn-primary btn-sm" href="#" role="button">Plan a meeting</a>
                <button class="btn btn-primary btn-sm" onclick="copyToClipboard('<%= schedule.schedule %>')">Copy Code</button>
                <form method="post" action="/schedule/delete" style="display: inline;">
                    <input type="number" name="id" value="<%= schedule.id %>" hidden>
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
                <script>
                    progressBar('<%- schedule.schedule %>', '.schedule-<%= index %>')
                </script>
            </div>
        <% }) %>
        <% } %>
    </div>

</section>