<link rel="stylesheet" href="/css/friends.css">

<div class="w-75" style="margin: auto;">
    <%- include ("./partials/messages") %>
</div>
<h1 class="mt-5 text-center display-4">Friends</h1>

<div class="toasts" style="position: absolute; top: 120px; right: 10px;">
    
</div>

<script>
    $('.toast').toast('show')
</script>

<div class="mt-5 w-50 jumbotron" style="margin: auto;">
    <h2>Add Friend</h2>
    <form method="POST" action="/friends/sendrequest" class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control bg-white" name="friendCode" id="friendCode" placeholder="Enter a Request Code">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="fas fa-check"></i></button>
            </div>
        </div>
    </form>
</div>

<div class="mt-5 w-50 jumbotron" style="margin: auto;">
    <h2>Your Friend Request Code</h2>
    <form method="POST" action="/friends" class="form-group">
        <div class="input-group mb-3">
            <!-- <label for="exampleInputEmail1 sr-only">Friend Request Code</label> -->
            <input type="text" class="form-control" name="friendRequestCode" id="friendRequestCode" value="<%= friendRequestCode %>" disabled>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick="copyToClipboard('<%= friendRequestCode %>')"><i class="fas fa-copy"></i></button>
                <button class="btn btn-primary" type="submit"><i class="fas fa-redo"></i></button>
            </div>
        </div>
    </form>
</div>

<div class="mt-5 w-75 jumbotron" style="margin: auto;">
    <h2 class="text-center">Your Friends</h2>
    <% if (friends) { %>

        <div class="mt-5 wrapper">
        <% friends.forEach((friend, index) => { %>
            <div class="box">
                <div class="row">
                    <div class="col-8">
                        <h4><%= friend.name %></h4>
                        <h6 style="color: #333333;"><%= friend.email %></h6>
                    </div>
                    <form class="col-4 text-right" method="POST" action="/friends/remove">
                        <input type="text" name="friendId" value="<%= friend.friend_id %>" hidden>
                        <button class="btn btn-primary" type="submit" style="padding: 5px 13px; border-radius: 50%;">x</button>
                    </form>
                </div>
            </div>
        <% }) %>
        </div>

    <% } %>
</div>

<script>
    // Load friend requests

    // <% if (friendRequests) { %>

        // <% friendRequests.forEach((requests, index) => { %>

            var toast = `<div class="toast" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                
                                <strong class="mr-auto">Friend Request</strong>
                                <small class="text-muted">${timeSince('<%= requests.date_part %>')} ago</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <span class="text-muted">Friend request from</span> <%= requests.name %><br>
                                <div class="mt-2">
                                    <form method="POST" action="/friends/acceptrequest" style="display: inline;">
                                        <input value="<%= requests.sender_id %>" name="sender" hidden></input>
                                        <button type="submit" class="ml-2 mb-1 btn-sm btn btn-primary" style="width: 45%;" data-dismiss="toast" aria-label="Accept">Accept</button>
                                    </form>
                                    <form method="POST" action="/friends/deleterequest" style="display: inline;">
                                        <input value="<%= requests.sender_id %>" name="sender" hidden></input>
                                        <button type="submit" class="ml-2 mb-1 btn-sm btn btn-secondary" style="width: 45%;" data-dismiss="toast" aria-label="Remove">Remove</button>
                                    </form>
                                </div>
                            </div>
                        </div>`

            console.log(timeSince('<%= requests.date_part %>'))
            $('.toasts').append(toast)
            $('.toast').toast('show')
        
        // <% }) %>

    // <% } %>

    function name(params) {
        
    }

    function timeSince(date) {

        date = parseInt(date + '000')

        var seconds = Math.floor((new Date() - date) / 1000);

        var interval = Math.floor(seconds / 31536000);

        if (interval > 1) {
            return interval + " years";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval > 1) {
            return interval + " months";
        }
        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
            return interval + " days";
        }
        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
            return interval + " hours";
        }
        interval = Math.floor(seconds / 60);
        if (interval > 1) {
            return interval + " minutes";
        }
        return Math.floor(seconds) + " seconds";
    }

</script>